# Database
DATABASE_URL=postgresql://neondb_owner:npg_6ydDFUA1aXmt@ep-dawn-leaf-aoyap1z6-pooler.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# Flask
SECRET_KEY=9658486e6fd4d8d00fa2dfd6df6dd3a9a479d0ec0564871f4dee941e96b21c1f

# Email (SMTP)
# EMAIL_USER=chalagerianusha4@gmail.com
# EMAIL_PASSWORD=kotu fkgc ftbd kaxw
# EMAIL_HOST=smtp.gmail.com
# EMAIL_PORT=587

MAIL_SERVER=smtp-relay.brevo.com
MAIL_PORT=587
MAIL_USE_TLS=True
MAIL_USERNAME=ab304e001@smtp-brevo.com
MAIL_PASSWORD=YOUR_BREVO_SMTP_KEY
MAIL_DEFAULT_SENDER=chalagerianusha4@gmail.com

# Agora Video
AGORA_APP_ID=a4a03487d76d4a6c861bdab7c704d58b
AGORA_APP_CERTIFICATE=f5b406d1f4d446d6a759c5818008ebc3